main{
    margin: 20px 45px 50px 45px;
    background-color: #fff;
}

.story-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.story-container-content{
    display: flex;
    flex-direction: column;

}

.box-behind{
    width: 485px;
    aspect-ratio: 0.75;
    position: relative;
}

.box-behind-one{
    background-color: #ecddf0;
}

.box-behind-two{
    background-color: #e5fdf7;
}

.box-behind-three{
    background-color: #fff6e5;
}

.stories-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 150px;
}

.story-title{
    font-weight: 900;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-bottom: 15px;
}

.story-title-one{
    background-image: url("../images/Path 232.svg");
}
.story-title-two{
    background-image: url("../images/ourMissionSVG.svg");
}
.story-title-three{
    background-image: url("../images/ourVisionSVG.svg");
}

.story-text{
    color: #1a1818;
    font-size: 18px;
    width: 580px;
}

.story-image{
    width: 420px;
    aspect-ratio: 0.9;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
}

